<simple-navbar></simple-navbar>
    <div class="page-title-area black-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-inner">
                        <div class="page-title-inner-table-cell">
                            <h1>Welcome To Paktravellersmania</h1>
                            <!-- <a href="tours.html" class="pink-btn">View All Tours</a> -->
                            <!-- <div class="page-title-menu">
                                <ul>
                                    <li><a href="index-2.html">Home</a></li>
                                    <li><a href="#">Register</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="top-destination-area">
    <div class="section-title text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Top tourism agencies in Pakistan</h1>
                    <p>Explore a different way to travel</p>
                </div>
            </div>
        </div>
    </div>
    <div class="counter-up-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                          <img src="assets/img/trag1.png" alt="">
                        </div> 
                        <div class="single-counter-up-item-text">
                      
                          <p>Polanis Travels <br /> (Karachi Pakistan)</p>
                        </div>  
                    </div>  
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="assets/img/trag2.png" alt="">
                        </div>  
                        <div class="single-counter-up-item-text">
                        
                          <p>Harmain Travels <br /> (Karachi Pakistan)</p>
                        </div>  
                    </div>  
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="assets/img/trag3.png" alt="">
                        </div>  
                        <div class="single-counter-up-item-text">
                            <!-- <h1><span class="counter">3</span></h1> -->
                            <p>Mehfooz Travels <br /> (Karachi Pakistan) </p>
                        </div>  
                    </div>  
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                          <img src="assets/img/trag4.png" alt="">
                        </div>  
                        <div class="single-counter-up-item-text">
                          <!-- <h1><span class="counter">4</span></h1> -->
                          <p>Shedi Travels <br /> (Karachi Pakistan)</p>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
    </div>

</div>

<br />

<simple-footer></simple-footer>